body {
    font-family: Arial, sans-serif;
}

.row {
    display: block;
    padding: .1em;
}

.container {
    display: block;
    width: 70%;
    margin-left: 15%;
}

.error {
    background: rgba(255, 128, 128, .5);
}